@import '../../styles/vars.less';
@import '../../styles/mixin.less';

@prefixCls : doo-btn;
.@{prefixCls} {
  position: relative;
  font-size: @btn-font-size;
  outline: none;
  border-radius: @btn-default-border-radius;
  color: @btn-color;
  font-weight: @btn-font-weight;
  padding: @btn-padding;
  height: @btn-default-height;
  min-width: @btn-default-min-width;
  overflow: hidden;
  box-shadow: @box-shadow-default;
  cursor: pointer;
  &-ripple {
    position: absolute;
    z-index: 0;
    pointer-events: none;
    animation-name: ripple;
    animation-timing-function: @ripple-timing-function;
    animation-duration: @ripple-duration;
    animation-fill-mode: @ripple-fill-mode;
    border-radius: @ripple-border-radius;
    background-color: @ripple-color;
  }
  &-primary {
    .doo-btn-type(@primary-color);
    &.@{prefixCls}-hollow {
      .doo-btn-hollow(@primary-color)
    }
  }
  &-warning {
    .doo-btn-type(@warning-color);
    &.@{prefixCls}-hollow {
      .doo-btn-hollow(@warning-color)
    }
  }
  &-error {
    .doo-btn-type(@error-color);
    &.@{prefixCls}-hollow {
      .doo-btn-hollow(@error-color)
    }
  }
  &-success {
    .doo-btn-type(@success-color);
    &.@{prefixCls}-hollow {
      .doo-btn-hollow(@success-color)
    }
  }
  &-default {
    .doo-btn-hollow(@default-color)
  }
  &-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@keyframes ripple {
  0%{
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
