@import '../../styles/vars.less';
@import '../../styles/mixin.less';

@prefixCls: doo-btn;
.@{prefixCls} {
  position: relative;
  outline: none;
  border-radius: @border-radius;
  color: @btn-color;
  font-weight: @btn-font-weight;
  overflow: hidden;
  box-shadow: @box-shadow-default;
  cursor: pointer;
  &-middle {
    .doo-btn-size(1);
  }
  &-small {
    .doo-btn-size(0.7);
  }
  &-large {
    .doo-btn-size(1.3);
  }
  &-ripple {
    position: absolute;
    z-index: 0;
    pointer-events: none;
    animation-name: ripple;
    animation-timing-function: @ripple-timing-function;
    animation-duration: @ripple-duration;
    animation-fill-mode: @ripple-fill-mode;
    border-radius: @ripple-border-radius;
    background-color: @ripple-color;
  }
  &-primary {
    .doo-btn-type(@primary-color);
    &.@{prefixCls}-hollow {
      .doo-btn-hollow(@primary-color);
    }
  }
  &-warning {
    .doo-btn-type(@warning-color);
    &.@{prefixCls}-hollow {
      .doo-btn-hollow(@warning-color);
    }
  }
  &-error {
    .doo-btn-type(@error-color);
    &.@{prefixCls}-hollow {
      .doo-btn-hollow(@error-color);
    }
  }
  &-success {
    .doo-btn-type(@success-color);
    &.@{prefixCls}-hollow {
      .doo-btn-hollow(@success-color);
    }
  }
  &-default {
    .doo-btn-hollow(@font-color);
  }
  &-link {
    color: #2196f3;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    &:not(.doo-btn-disabled) {
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
